/* Custom variables */
:root {
  --white: hsl(0, 0%, 100%);
  --header-bg-color: hsl(0, 0%, 97%);
  --gray-neutral-color: hsl(0, 0%, 94%);
  --gray-dark-color: hsl(0, 0%, 47%);
  --success-color: hsl(145, 63%, 49%);
  --error-color: hsl(6, 78%, 57%);
  --btn-color: hsl(34, 95%, 50%);
}

/* Small CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling */
body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  background: url("./img/background.svg") no-repeat;
  background-size: cover;
}

.form-container {
  max-width: 30rem;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 2em 0.5em;
}

header,
button,
form {
  padding: 2em;
}

header {
  border-bottom: 2px solid var(--gray-neutral-color);
  background-color: var(--header-bg-color);
}

header h1 {
  font-size: 1.6rem;
}

.form-note {
  display: flex;
  justify-content: end;
  font-size: 0.625rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.form-input {
  margin-bottom: 0.625em;
}

.form-input label {
  display: inline-block;
  margin-left: 0.1em;
  margin-bottom: 0.3em;
}

.form-input input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 0.875rem;
  border: 2px solid var(--gray-neutral-color);
  border-radius: 5px;
  padding: 0.625em;
  margin-bottom: 0.2em;
}

.form-input input:focus {
  outline: 0;
  border-color: var(--gray-dark-color);
}

.form-input.success input {
  background: url("./img/checkbox-icon.svg") no-repeat right;
  border-color: var(--success-color);
}

.form-input.error input {
  background: url("./img/error-icon.svg") no-repeat right;
  border-color: var(--error-color);
}

.form-input span {
  font-size: 0.8rem;
  color: var(--error-color);
  visibility: hidden;
}

.form-input.error span {
  visibility: visible;
}

.form-input textarea {
  font-family: inherit;
  width: 100%;
  resize: none;
  border: 2px solid var(--gray-neutral-color);
  border-radius: 5px;
  padding: 0.625em;
  margin-bottom: 0.8em;
}

.form-input textarea:focus {
  outline: 0;
  border-color: var(--gray-dark-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  width: 60%;
  background-color: var(--btn-color);
  font-family: inherit;
  font-size: 1.325rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--btn-color);
  border-radius: 5px;
  margin: auto;
  padding: 0.625em;
  transition: filter 0.2s ease-in-out;
}

button:is(:hover, :focus) {
  outline: 0;
  border-color: var(--btn-color);
  filter: brightness(115%);
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Media queries */
/* Tablet responsiveness */
@media (min-width: 768px) {
  .form-container {
    max-width: 46rem;
  }

  header,
  button,
  form {
    padding: 1.5em 2.5em;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1em;
  }

  .form-note {
    font-size: 0.8rem;
  }

  .form-input {
    padding-bottom: 0.5em;
  }

  .form-input label {
    font-size: 1.1rem;
  }

  .form-input input {
    font-size: 1rem;
  }

  .form-input span {
    font-size: 0.8rem;
  }

  button {
    font-size: 1.5rem;
    padding: 0.7em;
  }
}

/* Desktop responsiveness */
@media (min-width: 1024px) {
  .form-container {
    width: 60rem;
  }

  header,
  button,
  form {
    padding: 2em 3em;
  }

  header h1 {
    font-size: 2.2rem;
  }

  .form-note {
    font-size: 1rem;
  }

  .form-input {
    padding-bottom: 0.8em;
  }

  .form-input label {
    font-size: 1.2rem;
  }

  .form-input input {
    font-size: 1.1rem;
  }

  .form-input span {
    font-size: 0.9rem;
  }

  button {
    font-size: 1.6rem;
    padding: 0.7em;
  }
}
